.container {
  background-color: #282c34;
  text-align: center;
}

.homeLogo {
  max-width: 30vh;
  pointer-events: none;
}

.homeLogoText {
  width: 20rem;
  max-width: 80vw;
}

@media (prefers-reduced-motion: no-preference) {
  .homeLogo {
    animation: homeLogo-spin infinite 20s linear;
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@keyframes homeLogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*-------------------- LOGIN/SIGNUP --------------------*/

@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);

body {
  background-color: #282c34;
  margin: 0 0 0 0;
  font-family: 'quicksand';
}

hr {
  border: 0;
  height: 1px;
  opacity: .3;
  background-image: linear-gradient(
    to right, 
    rgba(255,255,255,.2), 
    rgba(255,255,255,1), 
    rgba(255,255,255,.2)
  );
}

.login {
  z-index: 1000;
  margin: 20px 0;
  /* padding-bottom: 10px; */
  background-color: rgba(255,255,255,.3);
  width: 90%;
  max-width: 500px;
  color: white;
  text-align: center;
  border-radius: 2px;
  box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.25);
}

.login h1 {
  font-size: 1.5rem;
}

.sign-up {
  opacity: 1;
  visibility: visible;
  position: absolute;
  z-index: 2000;
  top: 50%;
  left: 50%;
  margin-top: -330px;
  margin-left: -210px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: rgba(255,255,255,.3);
  height: 640px;
  width: 400px;
  color: white;
  text-align: center;
  border-radius: 2px;
  box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.25);
}

.login-closed {
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  margin-left: -400px;
  padding: 0;
  height: 0px;
}

.sign-up-closed {
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  margin-left: -400px;
}

.field {
  margin: 10px 20px 10px 20px;
  text-align: left;
}

.input {
  margin: 5px;
  width: calc(100% - 20px);
  height: 2rem;
  border-radius: 2px;
  border: none;
  font-size: 1rem;
  padding: 5px;
  color: #25291b;
  background-color: rgba(255,255,255, .5);
  box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.3);
  transition: background-color .4s ease-out;
}

.input:focus {
  outline: none;
  background-color: rgba(255,255,255, .8)
}

.label {
  margin-left: 5px;
}

.submit-button {
  margin-top: 0.6rem;
  width: 10rem;
  height: 2rem;
  font-size: 1rem;
  border: none;
  background-color: rgba(0,0,0,.6);
  border-radius: 2px;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #ffd7d7;
  color:rgba(0,0,0, .7)
}

.submit-button:focus {
  outline: none;
  background-color: rgba(0,0,0,.7);
}

.in-out {
  font-size: 0.8rem;
  margin-top: 1rem;
  padding: 5px;
}

.in-out a {
  color: rgba(0,0,0, .7);
  background-color: white;
  font-weight: bold;
  text-decoration: none;
  margin: 0 8px;
  border: 1px solid rgba(0,0,0, .7);
  border-radius: 2px;
  padding: 2px;
  /* transition: all .4s ease-out; */
}

.in-out a:hover {
  cursor: pointer;
  background-color: #ffd7d7;
  /* border: 1px solid rgba(0,0,0, 1); */
}

.field-in {
  animation: pulse .7s 1;
}

.animate-check {
  margin-left: 5px;
  animation: pulse2 .4s 1;
}

@keyframes pulse {
  0% { transform: scale(.8); }
  40% { transform: scale(1.2); }
  70% { transform: scale(1); }
  90% { transform: scale(1.01); }
  100%{ transform: scale(1); }
}

@keyframes pulse2 {
  0% { transform: scale(.1); opacity: 0;}
  50% { transform: scale(1.4); opacity: 1;}
  100% { transform: scale(1); }
}